@import '../css/normalize-8.0.1';
@import '../css/jquery.modal';
@import '../css/slick';
@import '../css/slick-theme';

$max-width: 1200px;

*{
    box-sizing: border-box;
}

.container{
    max-width: $max-width;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    @media (max-width: $max-width){
        margin: 0;
        max-width: none;
        padding: 0 15px;
        width: 100%;
    }
}

a{
    color: #f49d25;
    outline: none;
    text-decoration: underline;
    &:not(.btn){
        &:hover{
            color: orange;
            text-decoration: none;
        }
    }
}

body{
    color: #000;
    display: grid;
    font-family: 'Mont', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    overflow-x: hidden;
}

b, strong{
    font-weight: bold;
}

p{
    margin: 0 0 1.5em;
}

h1, h2, h3, h4, h5, h6{
    color: #000;
    font-family: 'Mont', sans-serif;
    font-weight: bold;
    margin-top: 0;
}

h1{
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 1.5em;
    @media (max-width: 400px){
        word-break: break-all;
    }
}

h2{
    font-size: 26px;
    margin-bottom: 1.5em;
    @media (max-width: 400px){
        word-break: break-all;
    }
}

svg{
    &.phone{
        fill: #da0402;
    }
}

form{
    text-align: center;
    input:not([type=checkbox]):not([type=radio]):not([type=submit]),textarea{
        border: 1px solid #babbbc;
        border-radius: 5px;
        padding: 1em;
        width: calc(100% - 2em);
    }
}

button{
    outline: none;
}

.btn{
    background: #ffaa35;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    padding: 1.3em;
    text-align: center;
    text-decoration: none;
    transition: .4s ease;
    white-space: nowrap;
    &:hover{
        box-shadow: 1px 1px 5px gray;
    }
    &.btn-gray{
        background: #d3d3d3;
        &.btn-empty{
            background: none;
            border: 1px solid #d3d3d3;
            color: #ccc;
            font-size: 14px;
        }
    }

}

.modal{
    a.close-modal{
        background: url(../img/close.png);
        width: 32px;
        height: 32px;
        top: 0;
        right: -50px;
        @media (max-width: 768px){
            right: -3em;
        }
        @media (max-width: 480px){
            right: -2.5em;
        }
    }
    .modal__title{
        color: #333 !important;
        font-size: 26px;
        font-weight: bold;
        @media (max-width: 768px){
            margin-bottom: 0.5em;
        }
        @media (max-width: 400px){
            font-size: 2em;
        }
    }
    input:not([type=checkbox]):not([type=radio]):not([type=submit]),textarea{
        border-color: #bdbdbd;
    }
    .modal__privacy{
        font-size: 10px;
        line-height: 14px;
        font-style: italic;
    }
    .btn{
        @media (max-width: 768px){
            margin-bottom: 0.5em;
        }
    }
}

.jquery-modal.blocker.current{
    z-index: 1000;
    .modal{
        display: inline-flex !important;
        max-width: 720px;
        padding: 0;
        > img{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            object-fit: cover;
            min-width: 320px;
            width: 320px;
            height: 100%;
            @media (max-width: 768px){
                display: none;
            }
        }
        .modal__content{
            color: #999;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 12px;
            line-height: 18px;
            padding: 3em 4.3em;
            width: 100%;
            @media (max-width: 400px){
                padding: 2em 3em;
            }
            @media (max-width: 360px){
                padding: 2em;
            }
        }
    }
}

.form-title{
    color: #000 !important;
    font-size: 19px;
    font-weight: bold;
    line-height: 23px;
    margin-bottom: 1em;
}

.form-group{
    margin-bottom: 1.2em;
}

.form-group label {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-privacy{
    font-size: 10px;
    line-height: 14px;
    font-style: italic;
    padding: 0 2em;
}

.navbar-toggler {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1;
    outline: none;
    padding: 0;
    position: relative;
    width: 25px;
    height: 18px;
    @media (min-width: 640px){
        display: none;
    }
    @media (max-width: 640px){
        left: calc(100% - 24px);
    }
    .navbar-toggler-line {
        background: #555;
        width: 25px;
        height: 2px;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.2s;
        &:nth-child(2){
            top: 7px;
        }
        &:nth-child(3){
            top: 14px;
        }
    }
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-line:nth-of-type(1) {
    top: 7px;
	transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-line:nth-of-type(2) {
	transform: rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-line:nth-of-type(3) {
	opacity: 0;
	filter: alpha(opacity=0);
}

header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top{
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 2em;
        padding: 1em 0;
    }
    .slogan{
        color: #82a0a9;
        font-size: 12px;
        line-height: 1;
        @media (max-width: 640px){
            display: none;
        }
    }
    .navbar{
        display: flex;
        padding-bottom: 1.5em;
        position: relative;
        width: 100%;
        @media (max-width: 640px){
            padding: 0;
        }
        .navbar-nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0;
            @media (max-width: 640px){
                flex-direction: column;
                align-items: flex-end;
                padding-right: 15px;
                position: absolute;
                right: -15px;
                top: 40px;
                &:not(.show) {
                    display: none;
                }
                &.show{
                    background: #fff;
                    min-width: 1000%;
                }
            }
            li{
                list-style: none;
                a{
                    color: #333;
                    font-size: 13px;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover{
                        color: orange;
                    }
                    @media (max-width: 640px){
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    @media (max-width: 640px){
        border-bottom: 1px solid #e4e4e4;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 3;
        .top{
            border: none;
            margin: 0;
            padding: 0;
        }
        > .container{
            margin: 0;
            max-width: none;
        }
    }
    &.shrink{
        background: #fff;
        border-bottom: 1px solid #e1e1e1;
        display: flex;
        justify-content: space-between;
        max-width: $max-width;
        margin: 0 auto;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 9999;
        &:before{
            background: #fff;
            border-bottom: 1px solid #e1e1e1;
            content: '';
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
        }
        &:after{
            background: #fff;
            border-bottom: 1px solid #e1e1e1;
            content: '';
            position: absolute;
            right: -100%;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .top{
            border: none;
            margin: 0;
            padding: 0;
            width: 170px;
            margin-right: 30px;
            .slogan,
            .header__address,
            .header__working-time,
            .header__contacts{
                display: none;
            }
        }
        > .container{
            margin: 0;
            max-width: none;
            width: calc(100% - 200px);
        }
        .navbar{
            padding: 0;
        }
    }
}

.header__address,
.footer__address{
    color: #545454;
    display: flex;
    font-weight: normal;
    svg{
        fill: #ffaa35;
        margin-right: 6px;
    }
    @media (max-width: 992px){
        display: none;
    }
}
.header__working-time{
    color: #82a0a9;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    @media (max-width: 992px){
        display: none;
    }
}
.header__contacts,
.footer__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 640px){
        white-space: nowrap;
    }
    @media (max-width: 480px){
        display: none;
    }
    > a{
        font-weight: normal;
    }
}
.header__contacts-phone,
.header__contacts-phone a,
.footer__contacts-phone,
.footer__contacts-phone a{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

img.background{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

[class$=__heading]{
    display: flex;
    justify-content: space-between;
    @media (max-width: 480px){
        flex-direction: column;
        margin-bottom: 1em;
        h2{
            margin-bottom: 0.5em;
        }
    }
    a[href^="mailto"]{
        font-size: 16px;
        font-weight: bold;
    }
    [class$=__company-mail]{
        white-space: nowrap;
    }
    [class$=__view-all]{
        a{
            color: #7f7f7f;
            font-size: 12px;
            font-weight: normal;
            text-decoration: none;
            &:hover{
                color: orange;
                svg{
                    fill: orange;
                }
            }
        }
        svg{
            fill: #7f7f7f;
        }
    }
    svg{
        fill: #ffaa35;
    }
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .tab-pane.active {
    display: flex !important;
    @media (max-width: 768px){
        display: grid !important;
        flex-direction: column;
    }
}

section{
    padding: 3em 0;
    position: relative;
    > *:not(img.background){
        position: relative;
        z-index: 2;
    }
    form{
        background: #e8eae7;
        border: 3px solid #fff;
        border-radius: 10px;
        color: #747573 !important;
        width: 270px;
        padding: 1.6em 1.5em 1em;
        position: relative;
        @media (max-width: 400px){
            width: auto;
        }
        &:after{
            background: url('../img/form_effect.png') repeat-x 0 bottom;
            content: '';
            position: absolute;
            left: -13px;
            bottom: -15px;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        p{
            font-size: 11px;
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 1.6em;
        }
        .btn{
            margin-bottom: 1em;
            width: 100%;
        }
    }
    &.first{
        padding: 3em 0;
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px){
                flex-direction: column;
            }
        }
        .first__text{
            @media (max-width: 768px){
                margin-bottom: 2em;
            }
        }
        .first__text-options-item{
            color: #4d7884;
            font-size: 15px;
            font-weight: normal;
            display: flex;
            margin-bottom: 1.4em;
        }
        .first__text-options-item__icon{
            width: 40px;
            svg{
                fill: #4d7884;
            }
        }
        .first__text-button{
            display: flex;
            align-items: center;
            margin-top: 3.5em;
            @media (max-width: 400px){
                flex-direction: column;
            }
            .btn{
                margin-right: 1.7em;
                padding: 1em 2.7em;
                @media (max-width: 400px){
                    order: 2;
                }
            }
            span{
                color: #424648;
                font-size: 12px;
                font-weight: normal;
                @media (max-width: 400px){
                    order: 1;
                }
            }
        }
        .first__window{
            position: relative;
            @media (max-width: 1024px){
                display: none;
            }
            img{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-60%, -50%);
            }
        }
        form{
            background: rgba(226, 237,  246, 0.9);
        }
    }
    &.types{
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: $max-width){
                display: grid;
            }
        }
    }
    &.rollup-mini{
        padding: 4em 0;
        .rollup-mini__list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -15px;
            @media (max-width: 576px){
                margin: 0;
            }
            .rollup-mini__list-item{
                border: 1px solid #c4c4c4;
                border-radius: 5px;
                margin: 0 15px 30px;
                flex: 0 0 calc(24% - 30px);
                @media (max-width: 1120px){
                    flex: 0 0 calc(33% - 30px);
                }
                @media (max-width: 820px){
                    flex: 0 0 calc(49% - 30px);
                }
                @media (max-width: 576px){
                    flex: 0 0 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
                .rollup-mini__list-item__media{
                    img{
                        width: 100%;
                        height: 256px;
                        object-fit: cover;
                    }
                }
                .rollup-mini__list-item__title{
                    font-size: 16px;
                    font-weight: 600;
                    padding: 1em;
                }
                .rollup-mini__list-item__price-button{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1em;
                }
                .rollup-mini__list-item__price{
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }
    &.free-designer{
        background: #f9ac45;
        color: #fff;
        padding: 3.5em 0 0;
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: 640px){
                flex-direction: column;
            }
        }
        h2{
            font-size: 38px;
            line-height: 1.2;
            margin-bottom: 0.6em;
            strong{
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
        h3{
            margin-bottom: 2em;
        }
        .free-designer__text{
            @media (max-width: 940px){
                padding-right: 2em;
            }
        }
        .free-designer__woman{
            display: flex;
            align-items: flex-end;
            img{
                margin: 0 4em;
                object-fit: cover;
                @media (max-width: 1024px){
                    margin: 0 2em 0 0;
                }
                @media (max-width: 940px){
                    display: none;
                }
            }
        }
        h1, h2, h3, h4, h5, h6{
            color: #fff;
        }
    }
    &.call{
        padding: 2em 0 2.5em;
        font-size: 19px;
        text-transform: uppercase;
    }
    &.howto{
        overflow: hidden;
        padding: 5.5em 0 7em;
    }
    &.stylish{
        color: #fff;
        padding: 6em 0;
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px){
                flex-direction: column;
            }
        }
        h1, h2, h3, h4, h5, h6{
            color: #fff;
        }
        h2{
            font-size: 40px;
            line-height: 1;
            margin-bottom: 1em;
        }
        h3{
            font-size: 26px;
        }
        p{
            margin-bottom: 3em;
        }
    }
    &.factory{
        background: #f3f7f9;
        padding: 6.5em 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width: 992px){
                flex-direction: column;
            }
            > *{
                flex-grow: 1;
                flex-basis: 0;
                @media (max-width: 992px){
                    flex-grow: 0;
                    flex-basis: auto;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
        h2{
            margin-bottom: 0.8em;
        }
    }
    &.questions{
        color: #fff;
        padding: 5em 0;
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: 992px){
                flex-direction: column;
            }
            > *{
                flex-grow: 1;
                flex-basis: 0;
            }
        }
        h1, h2, h3, h4, h5, h6{
            color: #fff;
        }
        h2{
            margin-bottom: 0.5em;
        }
        p{
            margin: 0;
        }
        .questions__form{
            padding-left: 3em;
            @media (max-width: 992px){
                padding: 0;
            }
            form{
                &:after{
                    content: '';
                    display: none;
                }
            }
        }
        form{
            background: none;
            border: none;
            display: flex;
            padding: 0;
            width: 100%;
            @media (max-width: 480px){
                flex-direction: column;
            }
            input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), form textarea{
                padding: 1.3em 1em;
            }
        }
        .form-group{
            margin-right: 1em;
            width: calc(70% - 1em);
            @media (max-width: 480px){
                margin-right: 0;
                width: 100%;
            }
        }
        .btn{
            width: calc(30% - 1em);
            margin-right: 1em;
            @media (max-width: 480px){
                display: inline-block;
                margin-right: 0;
                width: auto;
            }
        }
    }
    &.control{
        padding: 4em 0;
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: 992px){
                align-items: flex-start;
                flex-direction: column;
            }
        }
        h2{
            font-size: 40px;
            line-height: 1.2;
            margin-bottom: 0.5em;
        }
    }
    &.news{
        padding: 5.5em 0;
        h2{
            margin-bottom: 1em;
        }
    }
    &.instagram{
        background: #f3f7f9;
        padding: 4em 0;
    }
    &.discount{
        background: #f9ac45;
        color: #fff;
        padding: 4em 0 0;
        .container{
            display: flex;
            justify-content: space-between;
            @media (max-width: 640px){
                flex-direction: column;
            }
        }
        h2{
            font-size: 40px;
            line-height: 1.2;
            margin-bottom: 0.6em;
            strong{
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
        h3{
            font-size: 18px;
            margin-bottom: 2em;
            strong{
                text-decoration: underline;
            }
        }
        .discount__woman{
            display: flex;
            align-items: flex-end;
            img{
                margin: 0 4em;
                object-fit: cover;
                @media (max-width: 1024px){
                    margin: 0 2em 0 0;
                }
                @media (max-width: 940px){
                    display: none;
                }
            }
        }
        h1, h2, h3, h4, h5, h6{
            color: #fff;
        }
    }
    &.counter{
        background: #f3f7f9;
        padding: 2em 0 1em;
        .container{
            display: flex;
            align-items: center;
            @media (max-width: 640px){
                flex-wrap: wrap;
                .counter__text{
                    flex: 0 0 100%;
                    margin-top: 1em;
                }
            }
        }
    }
    &.faq{
        .faq__content{
            display: flex;
            justify-content: space-between;
            @media (max-width: 992px){
                flex-direction: column;
            }
            > *{
                width: 50%;
                @media (max-width: 992px){
                    width: 100%;
                }
            }
        }
        .faq__list{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: -1em;
            padding-right: 3em;
            @media (max-width: 992px){
                padding-right: 0;
                margin-bottom: 1em;
            }
            .faq__list-item{
                margin-top: 1em;
                .faq__list-item__question{
                    background: #f3f7f9;
                    border-radius: 5px;
                    color: #616364;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.7em 1em;
                    svg{
                        fill: #acacac;
                        transform: rotate(90deg);
                    }
                }
                .faq__list-item__answer{
                    display: none;
                    color: #666;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 1em;
                }
                &.opened{
                    .faq__list-item__question{
                        background: #ffaa35;
                        color: #fff;
                        font-weight: 600;
                        svg{
                            fill: #fff;
                        }
                    }
                }
            }
        }
        .faq__media{
            display: flex;
            justify-content: flex-end;
            @media (max-width: 992px){
                justify-content: flex-start;
            }
            img{
                border-radius: 5px;
                width: 100%;
            }
        }
    }
    &.why{
        color: #fff;
        padding: 4em 0;
        h1, h2, h3, h4, h5, h6{
            color: #fff;
        }
        h2{
            font-size: 30px;
            margin: 1em 0;
        }
        .container{
            &:after{
                content: '';
                clear: both;
                display: table;
            }
            @media (max-width: 992px){
                display: block;
            }
            > *{
                float: left;
                position: relative;
                @media (max-width: 992px){
                    float: none;
                }
            }
        }
    }
    &.reviews{
        padding: 5.5em 0;
        text-align: center;
        .container{
            @media (max-width: $max-width){
                display: grid;
            }
        }
        h2{
            text-align: left;
        }
    }
    &.map{
        color: #545454;
        overflow: hidden;
        .container{
            padding: 0;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
        h2{
            color: #545454;
            font-size: 20px;
        }
    }
}

.js--load--map{
    width: 100%;
    height: 500px;
}

.rollup__content{
    display: flex;
    justify-content: space-between;
    @media (max-width: 992px){
        display: grid;
    }
}

.rollup__company-name{
    margin-bottom: 1.4em;
}

.rollup__slider-wrapper{
    position: relative;
    width: 45.5%;
    max-width: 546px;
    @media (max-width: 992px){
        margin-bottom: 2em;
        min-width: 100%;
        width: 100%;
    }
    .slick-slider{
        position: relative;
        z-index: 4;
        .slick-track{
            width: 100% !important;
        }
        .slick-slide{
            border-radius: 5px;
            opacity: 0;
            visibility: hidden;
            max-height: 286px;
            width: 100%;
            object-fit: cover;
            position: absolute;
            &.slick-active{
                position: static;
                opacity: 1;
                visibility: visible;
            }
            @media (max-width: 992px){
                max-height: 100%;
            }
        }
    }
    &:before{
        border-radius: 5px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.11);
        content: '';
        position: absolute;
        left: -1.5em;
        top: 2em;
        right: -1.5em;
        bottom: 2em;
        width: calc(100% + 3em);
        height: calc(100% - 6em);
        z-index: 1;
        @media (max-width: 992px){
            display: none;
        }
    }
    &:after{
        border-radius: 5px;
        box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.11);
        background: #fff;
        content: '';
        position: absolute;
        left: -10px;
        top: 1em;
        right: -10px;
        bottom: 1em;
        width: calc(100% + 20px);
        height: calc(100% - 4em);
        z-index: 2;
        @media (max-width: 992px){
            display: none;
        }
    }
    .slick-prev,
    .slick-next{
        background: #ffaa35 !important;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        z-index: 5;
        svg{
            fill: #fff;
        }
    }
    .slick-prev{
        left: -13px;
    }
    .slick-next{
        right: -13px;
    }
}

.rollup__text{
    width: 47.5%;
    @media (max-width: 992px){
        width: 100%;
    }
}

.stylish__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stylish__text-options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 480px){
        flex-direction: column;
        align-items: flex-start;
    }
}

.stylish__text-options-item{
    display: flex;
    flex: 0 0 33.33333%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5em;
    svg{
        fill: #fff;
        margin-right: 1em;
    }
}

.factory__text-options{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3em;
}

.factory__text-options-item{
    color: #4d7884;
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 1.5em;
    svg{
        fill: #4d7884;
        margin-right: 1em;
    }
}

.factory__media-text{
    color: #313132;
    font-size: 17px;
    font-weight: bold;
    strong{
        color: #ffaa35;
        font-weight: 900;
        text-decoration: underline;
    }
    svg{
        fill: #949494;
    }
}

.factory__media{
    @media (max-width: 480px){
        img{
            max-width: 100%;
        }
    }
}

.control__text{
    margin-right: 4em;
    @media (max-width: 991px){
        margin: 0;
    }
}

.control__text-subtext{
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px){
        flex-direction: column;
    }
}

.control__text-subtext__quality{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    svg{
        margin-right: 1em;
    }
}

.control__text-subtext__founder{
    display: flex;
    align-items: center;
    font-style: italic;
    @media (max-width: 400px){
        flex-direction: column;
    }
}

.control__text-subtext__founder-name{
    font-size: 12px;
    margin-right: 1.5em;
}

.control__text-subtext__founder-name__fio{
    font-size: 18px;
    white-space: nowrap;
}

.control__media{
    position: relative;
    &:after{
        background: url('../img/form_effect.png') repeat-x 0 0;
        border-radius: 5px;
        content: '';
        position: absolute;
        left: -13px;
        top: 15px;
        width: calc(100% - 13px);
        height: 100%;
        z-index: -1;
    }
    img{
        @media (max-width: 400px){
            max-width: 100%;
        }
    }
}

.works__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    @media (max-width: 992px){
        margin: 0;
    }
}

.works__list-item{
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.11);
    display: flex;
    margin: 0 15px 40px;
    flex: 0 0 calc(50% - 48px);
    @media (max-width: 992px){
        flex: 0 0 100%;
        margin-left: 0;
        margin-right: 0;
    }
    @media (max-width: 576px){
        flex-direction: column;
    }
}

.works__list-item__media{
    img{
        border-radius: 5px;
        min-width: 216px;
        width: 216px;
        height: 100%;
        object-fit: cover;
        @media (max-width: 576px){
            width: 100%;
            height: 200px;
        }
    }
}

.works__list-item__content{
    padding: 1em 1em 1em 2em;
}

.works__list-item__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.works__list-item__title-name{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.works__list-item__title-price{
    color: #f69e25;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
}

.works__list-item__address{
    color: #7f7f7f;
    display: flex;
    font-size: 11px;
    margin-bottom: 2em;
    svg{
        fill: #ffaa35;
        margin-right: 1em;
    }
}

.works__list-item__properties{
    color: #7f7f7f;
    font-size: 12px;
    margin-bottom: 2em;
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline;
            list-style: none;
            padding-right: 2em;
        }
    }
}

.works__list-item__review{
    color: #666;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    &:before{
        color: #94aeb5;
        content: '«';
        font-size: 30px;
        font-weight: 600;
        margin-right: 1em;
    }
    &:after{
        color: #94aeb5;
        content: '»';
        display: flex;
        align-items: flex-end;
        font-size: 30px;
        font-weight: 600;
        margin-left: 1em;
    }
}

.instagram__heading{
    .instagram__subscribe{
        display: flex;
        @media (max-width: 400px){
            flex-direction: column;
            svg{
                display: none;
            }
        }
        a{
            color: #797b7c;
            font-size: 16px;
            font-weight: normal;
            text-decoration: none;
        }
        svg{
            fill: #7e8081;
            margin-right: 0.5em;
        }
    }
}

.instagram__subscribe-title{
    color: #ffaa35;
    font-size: 18px;
    font-weight: bold;
    margin-right: 1.5em;
}

.instagram__posts{
    display: flex;
    flex-wrap: wrap;
}

.instagram__posts-item{
    flex: 0 0 20%;
    @media (max-width: 480px){
        flex: 0 0 33.33333%;
    }
    @media (max-width: 360px){
        flex: 0 0 50%;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.reviews__slider{
    margin-bottom: 3em;
    @media (max-width: $max-width){
        .slick-list{
            padding: 0 30px;
            width: calc(100% - 30px);
        }
    }
    .slick-prev,
    .slick-next{
        background: #ffaa35 !important;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        z-index: 5;
        svg{
            fill: #fff;
        }
    }
    .slick-prev{
        left: -30px;
        @media (max-width: $max-width){
            left: 0;
        }
    }
    .slick-next{
        right: -20px;
        @media (max-width: $max-width){
            right: 0;
        }
    }
}

.why__media{
    padding-right: 2em;
    width: 53%;
    @media (max-width: 992px){
        padding-right: 0;
        width: 100%;
    }
    img{
        border-radius: 5px;
        @media (max-width: $max-width){
            max-width: 100%;
        }
    }
}

.why__content{
    width: 47%;
    @media (max-width: 992px){
        width: 100%;
    }
}

.why__content-slides{
    @media (max-width: 992px){
        display: grid;
    }
    .slick-track{
        display: flex;
        width: 100% !important;
        .slick-slide{
            min-width: 100%;
        }
    }
}

.why__content-subtitle{
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;
    svg{
        fill: #fff;
        margin-right: 10px;
    }
    h3{
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }
}


#counter{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
        .nav-counter{
            font-size: 36px;
            margin: 0 0.5em;
        }
        button{
            background: #ffaa35 !important;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: static;
            transform: none;
            svg{
                fill: #fff;
            }
        }
    }


.howto__heading{
    img{
        width: 116px;
    }
}

.howto__list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    @media (max-width: 992px){
        flex-wrap: wrap;
    }
}

.howto__list-item__icon{
    background: #fff;
    border-radius: 50%;
    border: 5px solid transparent;
    box-shadow: 3px 4px 20px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    position: relative;
    &:after{
        border-bottom: 5px solid #ffaa35;
        content: '';
        position: absolute;
        left: -50%;
        bottom: -10px;
        width: 200%;
        @media (max-width: 992px){
            left: -150%;
            width: 400%;
        }
    }
}

.howto__list-item__digit{
    background: #ffaa35;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    width: 25px;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -10px;
    text-align: center;
    z-index: 2;
}

.howto__list-item__title{
    color: #363636;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    top: -10px;
}

.howto__list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    @media (max-width: 992px){
        flex: 0 0 20%;
    }
    @media (max-width: 640px){
        flex: 0 0 33.33333%;
    }
    @media (max-width: 480px){
        flex: 0 0 50%;
    }
    &:first-child,
    &:hover{
        .howto__list-item__icon{
            border: 5px solid #ffaa35;
        }
    }
    &:first-child{
        .howto__list-item__icon{
            &:after{
                left: 50%;
                width: 100%;
            }
        }
    }
    &:last-child{
        .howto__list-item__icon{
            &:after{
                left: auto;
                right: 50%;
                width: 100%;
                @media (max-width: 992px){
                    width: 400%;
                }
            }
        }
    }
}

.types__header{
    background: #fff;
    border-radius: 5px;
    margin-right: 30px;
    position: relative;
    min-width: 275px;
    width: 275px;
    @media (max-width: $max-width){
        margin-bottom: 2em;
    }
    @media (max-width: 360px){
        margin-right: 0;
        min-width: none;
        width: auto;
    }
    &:after{
        background: url('../img/form_effect.png') repeat 0 0 / cover;
        content: '';
        position: absolute;
        left: -13px;
        top: 15px;
        width: calc(100% - 13px);
        height: 100%;
        z-index: -1;
    }
    h2{
        margin: 0;
        padding: 1em 1em 0.8em;
    }
    ul{
        padding-top: 1em;
    }
}

.types__tabs{
    background: #fff;
    border-radius: 5px;
    padding: 2em 2em 2.5em;
    position: relative;
    width: calc(100% - 305px);
    @media (max-width: $max-width){
        width: auto;
    }
    &:after{
        background: url('../img/form_effect.png') repeat-x 0 bottom;
        border-radius: 5px;
        content: '';
        position: absolute;
        left: -13px;
        bottom: -15px;
        width: calc(100% - 13px);
        height: 100%;
        z-index: -1;
    }
    .tab-pane{
        padding-right: 1em;
    }
}

.nav-tabs{
    border-top: 2px solid #f1f1f1;
    margin: 0;
    padding: 0;
    width: 100%;
    .nav-item{
        list-style: none;
        padding: 1.3em 0;
        .nav-link{
            color: #333;
            font-size: 15px;
            font-weight: 600;
            padding: 1.3em 5.3em 1.3em 2.3em;
            text-decoration: none;
            text-transform: uppercase;
            &.active{
                background: #ffaa35;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                color: #fff;
            }
        }
    }
}

.types__content-media{
    width: 294px;
    @media (max-width: 768px){
        margin-bottom: 1em;
        width: auto;
        img{
            max-width: 100%;
        }
    }
}

.types__content-media__title{
    color: #b2b2b2;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.types__tabs-content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 294px);
    @media (max-width: $max-width){
        display: grid;
    }
    @media (max-width: 768px){
        width: auto;
    }
}

.types__tabs-content__title{
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0.6em;
}

.types__tabs-content__colors{
    margin-bottom: 2em;
    min-width: 100%;
    @media (max-width: 576px){
        margin-bottom: 0;
    }
    .slick-track{
        display: flex;
        width: 100% !important;
    }
    .slick-list{
        margin: 0 18px;
        padding: 1em 0 1em;
        width: calc(100% - 36px);
        @media (max-width: $max-width){
            max-width: 100%;
        }
    }
    .types__tabs-content__colors-item{
            display: inline-block;
            margin: 0 12px;
            position: relative;
            text-align: center;
            width: auto !important;
            &:hover,
            &.selected{
                &:before{
                    border: 3px solid #ffaa35;
                    border-radius: 8px;
                    content: '';
                    position: absolute;
                    left: -10px;
                    top: -10px;
                    right: -10px;
                    bottom: -10px;
                    width: calc(100% + 14px);
                    height: calc(100% + 14px);
                }
                &:after{
                    background: #ffaa35;
                    border-radius: 5px;
                    color: #fff;
                    content: 'выбрать';
                    font-size: 9px;
                    font-weight: normal;
                    padding: 0 4px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 3;
                }
            }
        }
    .slick-prev{
        left: -10px;
    }
    .slick-next{
        right: -10px;
    }
}

.types__tabs-content__more{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.5em;
    @media (max-width: 576px){
        display: block;
    }
}

.types__tabs-content__chars{
    @media (max-width: 576px){
        margin-bottom: 1em;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            
            list-style: none;
        }
    }
    
}

.types__tabs-content__discount{
    border: 2px solid #ffaa35;
    border-radius: 5px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    padding: 0.9em 1.4em;
    @media (max-width: 576px){
        display: inline-block;
    }
}

.types__tabs-content__options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    @media (max-width: 480px){
        display: block;
    }
}

.types__tabs-content__options-item{
    color: #4d7884;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    svg{
        fill: #4d7884;
        margin-right: 8px;
    }
}

.types__tabs-content__order{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 576px){
        display: block;
    }
    .btn{
        padding: 1.3em 3em;
        @media (max-width: 576px){
            margin-top: 1em;
        }
        @media (max-width: 360px){
            padding: 1.3em 1em;
        }
    }
}

.types__tabs-content__price{
    color: #a0a0a0;
    span{
        text-decoration: line-through;
    }
    div{
        color: #333;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.2;
    }
}

.news__list{
    display: flex;
    justify-content: space-between;
    margin-left: -60px;
    @media (max-width: 768px){
        flex-wrap: wrap;
    }
    @media (max-width: 640px){
        margin-left: 0;
    }
}

.news__list-item{
    color: #707070;
    margin-left: 60px;
    @media (max-width: $max-width){
        flex: 0 0 calc(33.33333% - 60px);
    }
    @media (max-width: 768px){
        flex: 0 0 calc(50% - 60px);
    }
    @media (max-width: 640px){
        margin-left: 0;
        flex: 0 0 100%;
    }
    a{
        display: flex;
        margin-bottom: 0.7em;
        position: relative;
        &:hover{
            &:before{
                background: rgba(0, 0, 0, 0.5);
                border-radius: 5px;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            &:after{
                background: #ffaa35;
                border-radius: 5px;
                color: #fff;
                content: 'ЧИТАТЬ СТАТЬЮ';
                font-size: 15px;
                font-weight: bold;
                padding: 1em 2em;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
            }
        }
        img{
            border-radius: 5px;
            object-fit: cover;
            max-width: 100%;
            width: 100%;
        }
    }
    h3{
        color: #333;
        font-size: 22px;
        margin-bottom: 0.7em;
    }
}

.news__list-item__date{
    margin-bottom: 2em;
}

.map__content{    
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    .btn{
        display: block;
    }
}

.map__content-wrpper{
    background: #fff;
    border-radius: 5px;
    padding: 4em;
    position: relative;
    &:after{
        background: url('../img/form_effect.png') repeat-x 0 bottom;
        content: '';
        position: absolute;
        left: -13px;
        top: 15px;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.map__content-contacts__item{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    &:nth-child(3){
        justify-content: center;
    }
    svg{
        fill: #ffaa35;
        margin-right: 10px;
    }
}

.map__content-contacts__item-phone{
    color: #333;
    font-size: 22px;
    font-weight: 600;
    margin: 1em 0 0.5em;
    a{
        color: #333;
        text-decoration: none;
    }
}

.counter__title{
    color: #313132;
    font-size: 22px;
    font-weight: bold;
    margin-right: 1em;
    position: relative;
    top: -7px;
    text-transform: uppercase;
}

.timer{
    display: flex;
    justify-content: center;
    margin-right: 1em;
    @media (max-width: 360px){
        flex-wrap: wrap;
    }
    .digit{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 10px;
        text-align: center;
        @media (max-width: 600px){
            &:first-child{
                margin-left: 0;
            }
        }
        
        span{
            &:first-child{
                color: #585858;
                font-size: 36px;
                font-weight: bold;
                position: relative;
                padding: 15px 9px;
                &:before{
                    background-color: #e4e4e4;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjZmNmY2IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(246, 246, 246)),color-stop(1, rgb(209, 209, 209)));
                    background-image: -webkit-repeating-linear-gradient(top,rgb(246, 246, 246) 0%,rgb(209, 209, 209) 100%);
                    background-image: repeating-linear-gradient(to bottom,rgb(246, 246, 246) 0%,rgb(209, 209, 209) 100%);
                    background-image: -ms-repeating-linear-gradient(top,rgb(246, 246, 246) 0%,rgb(209, 209, 209) 100%);
                    border-right: 1px solid #b5b4b3;
                    border-bottom: 1px solid #bfbdbd;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 50%;
                    z-index: -1;
                }
                &:after{
                    background-color: #e2e2e2;
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZjBmMGYwIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNkM2QzZDMiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(240, 240, 240)),color-stop(1, rgb(211, 211, 211)));
                    background-image: -webkit-repeating-linear-gradient(top,rgb(240, 240, 240) 0%,rgb(211, 211, 211) 100%);
                    background-image: repeating-linear-gradient(to bottom,rgb(240, 240, 240) 0%,rgb(211, 211, 211) 100%);
                    background-image: -ms-repeating-linear-gradient(top,rgb(240, 240, 240) 0%,rgb(211, 211, 211) 100%);
                    border-right: 1px solid #b5b4b3;
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    right: 0;
                    width: 100%;
                    height: 50%;
                    z-index: -1;
                }
            }
            &:last-child{
                color: #484a4a;
                font-size: 11px;
            }
        }
    }
}

.counter__text{
    color: #484a4a;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    top: -7px;
}


.free-designer__form,
.discount__form{
    form{
        top: 60px;
        @media (max-width: 940px){
            top: 0;
        }
    }
}

@media (max-width: 992px){
    .questions__text{
        margin-bottom: 1em;
    }
}

footer{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 400px){
            flex-direction: column;
        }
    }
    .bottom{
        border-top: 1px solid #e4e4e4;
        margin-top: 1em;
        padding: 1em 0;
    }
    .slogan{
        color: #82a0a9;
        font-size: 12px;
        line-height: 1;
        @media (max-width: 640px){
            display: none;
        }
    }
    .navbar{
        display: flex;
        width: 100%;
        @media (max-width: 640px){
            display: none;
        }
        .navbar-nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                a{
                    color: #000;
                    font-size: 13px;
                    font-weight: 600;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
    .footer__working-time{
        color: #82a0a9;
        font-size: 12px;
        line-height: 1;
        text-align: center;
        @media (max-width: 992px){
            display: none;
        }
    }
}
@media (max-width: 400px){
    .footer__contacts{
        align-items: center;
    }
}